<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo2_cercle.png') }}">
</head>
<body>
    <header>
        <a href="/">
            <img classe="img_header" src="{{ url_for('static', filename='logo2.png') }}" alt="Mon Logo">
        </a>
        <button class ="ontop" onclick="remonter()">⬆ Haut</button>
        <form method="get" action="/">
            <input type="text" name="recherche" id="recherche" placeholder="Rechercher un produit">
        </form>        
        <a class = "ajout" href="{{ url_for('add_product') }}"> + Ajouter un produit</a>
    </header>

    <div>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>Type: {{ product.type }}</p>
                <p>Prix: {{ product.price }} €</p>
                <p>Site: {{ product.site }}</p>
                <a href="{{ product.website }}" target="_blank" class="lien">Lien</a>
                {% if product.image_url %}
                    <img src="{{ product.image_url }}" alt="Image du produit">
                {% endif %}
                <a href="{{ url_for('edit_product', id=product.id) }}" class="modif">Modifier</a>
                <a href="{{ url_for('delete_product', id=product.id) }}" class="supp">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <!-- CODE EN JAVA SCRIPT -->
    <script>
        function remonter() {
            window.scrollTo({
            top: 0,
            behavior: "smooth"
        });}
    </script>

</body>
</html>
